@import "@/styles/colors.scss";

.container {
  display: flex;
  justify-content: space-between;
  background-color: $black_01;
  color: $gray_03;
  padding: 16px;

  .title {
    font-weight: 700;
    font-size: 32px;
    margin-right: 8px;
  }

  .text {
    font-size: 32px;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;

  .arrowButton {
    outline: unset;
  }

  .currentDay {
    padding: 0 16px;
    font-weight: bold;
  }
}

.buttonContainer button {
  border: unset;
  background-color: $black_02;
  height: 20px;
  margin-right: 4px;
  border-radius: 4px;
  color: $gray_01;
}

.buttonContainer button:hover {
  opacity: 0.5;
  cursor: pointer;
}
